<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
			<!-- new link 
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScO2sT65wPvh8A7OarCF-04RkgJ-9ZOAw6pJ77VUtu2ab079g/viewform?usp=sf_link" class="button special">Apply</a></li>
			-->		 
			 <li><a href="/wiki/" class="button special">wiki</a></li>
			 <li><a href="https://drive.google.com/file/d/1cpIljnvDdZhBQ6tWTHWB2vh0hDJNXX7p/view?usp=sharing">Schedule</a class="button special">Schedule</a></li>
			<!--
			<li><a href="https://github.com/heliohackweek" class="button special">GitHub</a></li>
			
			<li><a href="/wiki/project_guidelines.html" class="button special">Projects</a></li>
			-->		
		</ul> 
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
	
</section>
