<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
			<!-- new link -->
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScO2sT65wPvh8A7OarCF-04RkgJ-9ZOAw6pJ77VUtu2ab079g/viewform?usp=sf_link" class="button special">Apply</a></li>
			
			<!-- old link
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScO2sT65wPvh8A7OarCF-04RkgJ-9ZOAw6pJ77VUtu2ab079g/viewform?usp=sf_link" class="button special">Apply</a></li>
			-->
			<li><a href="https://www.google.com/maps/place/Edward+St.+John+Learning+and+Teaching+Center/@38.9871927,-76.9420624,15z/data=!4m5!3m4!1s0x0:0xa35cd8e643c0c5f2!8m2!3d38.9871927!4d-76.9420624” class="button special">Location</a></li>
			
			<!-- 
			<li><a href="/wiki/" class="button special">wiki</a></li>
			<li><a href="https://github.com/icesat-2hackweek" class="button special">GitHub</a></li>
			<li><a href="/schedule.html" class="button special">Schedule</a></li>
			<li><a href="/wiki/project_guidelines.html" class="button special">Projects</a></li>
			-->		
		</ul> 
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
