<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
				<!--
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScbLVehXdXIEPG-_u6zIo2oZRYDpAKA9wGVResBZgwUQUZ1_A/viewform?usp=sf_link" class="button special">Apply</a></li>
			-->
			<li><a href="/wiki/" class="button special">wiki</a></li>
			<li><a href="https://github.com/heliohackweek" class="button special">GitHub</a></li>
			<li><a href="/schedule.html" class="button special">Schedule</a></li>
			
			<!--
			<li><a href="/wiki/project_guidelines.html" class="button special">Projects</a></li>
			-->
<!--comments here-->
		</ul> 
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
