<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>ABOUT Heliophysics Hackweek 2020</h2>
			<<p> Heliophysics Hackweek 2020 is a five-day hackweek held virtually over a period of two weeks.<br>
				Participants will learn about technologies used to access and process <br>
			heliophysics data with a focus on machine learning.<br>
				The format will consist of project pitches, interactive lectures, <br>facilitated exploration of datasets, and hands-on software development. </p>
			<p>
				<a href="https://heliohackweek.github.io/assets/images/HW20_Code_of_Conduct.pdf">Read the HW20 Code of Conduct</a><br>
			<p>
				<a href="/hackweek.html">Learn about "hackweeks."</a><br> 
				Read blogs from participants in a 2019 hackweek held at UW: 
					<a href="https://www.nccs.nasa.gov/news-events/nccs-highlights/icesat2-hackweek">
					</a> <br>
				<a href="https://science.nasa.gov/heliophysics/heliophysics-data">
				Learn more about NASA's heliophysics and space physics data portals</a>.  

			</p>
		</header>
		<!--<ul class="icons major">-->
			<!--<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>-->
			<!--</li>-->
		<!--</ul>-->
	</div>
</section>
