<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Sponsors</h2>
			<p>
				This event is supported by the University of Maryland Department of Geographical Sciences <br>and the 
				<a href="https://geog.umd.edu/"></a>NASA Center for Climate Simulation<a href="https://www.nccs.nasa.gov/systems"></a>. <br>
				<!--Thanks to these additional sponsors who make this event possible:-->
			</p>
		</header>
		<!-- <div class="sponsors">
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="UMD_Logo_sm.png" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/Generic_logo.png" alt="">
				</div>
			</div>
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<a href="https://www.nccs.nasa.gov/systems/ADAPT"><img src="assets/images/Generic_logo.png" alt=""></a>
			    </div>
				<div class="sponsors-logo">
					<a href="https://icesat-2.gsfc.nasa.gov/mission"><img src="assets/images/Generic_logo.png" alt=""></a>
				</div>	-->	
			</div>
		</div>
	</div>
</section>
